// Set to same name as in the .js file
$projectName: "PROJECT-NAME-HERE";

.#{$projectName} {
    // "Back" button at top left of screen
    &__back {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        padding: 10px;
        
        a{
            text-decoration: none;
            color: black;

            &:hover {
                font-weight: bold;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: center;

        &-rows {
            display: flex;
            flex-direction: column;
        }

        // QMIND logo, text, divider, and "Design" text
        &-top-row {
            display: flex;
            align-items: center;

            & > * {
                padding-right: 10px;
                display: inline-block;
            }

            p {
                font-size: 32px;
                margin: 10px 0;
            }

            &-divider {
                color: #bbbbbb;
            }

            &-text {
                color: #2A69E7;
            }
        }

        // Project name
        &-bottom-row {
            display: flex;

            p {
                width: 100%;
                color: #2A69E7;
                display: flex;
                font-size: 60px;
                font-weight: bold;
                text-transform: capitalize;
                margin: 0 0 20px 0;
            }
        }
        
        &-logo-text {
            height: 25px;
        }

        &-logo-image {
            height: 40px;
        }
    }

    // Headings for each accordion dropdown
    &__accordion-heading {
        font-size: 24px;
        height: 100px;

        &:hover {
            background-color: #f0f0f0;
        }
    }

    // Team member data under "Team Members" tab
    &__team-member {
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: space-around;  

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            p {
                margin: 5px;
            }
            a {
                text-decoration: none;
                font-style: italic;
                font-weight: bold;
                color: #2A69E7;
            }
        }

        &-headshot {
            width: 200px;
        }

        &-name {
            font-weight: bold;
        }
    }    

    // Demo tab
    &__demo {
        p {
            margin: 0;
        }

        &-chart-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-chart-title {
            font-size: 25px;
            font-weight: bold;
            color: #2A69E7;
        }

        &-chart-desc {
            color: #2c2c2c;
            margin: 10px 0 !important;
        }
    }
}


