.project {
    width: 30%;
    padding: 20px;
    margin-bottom: 50px;

    &__heading {
        & > * {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
                margin: 0px;
            }
        }
    }

    &__title {
        font-weight: bold;
        transition: 0.3s;

        &:hover {
            transition: 0.3s;
            cursor: pointer;
            color: #2b69e7;
        }
    }

    &__category {
        font-style: italic;
        color: #a3a3a3;
    }

    &__image-wrapper {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 80px;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: 0.3s;
        }
    }

    &__category, &__team, &__description {
        font-size: 12px;
    }
}
