@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color: #fcfcfc;
  margin: 0;
  font-family: 'Inter', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
    color: white;
    background-color: #2b69e7;
    padding: 10px;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
}

h1 {
    font-size: 26px;
    color: #2b69e7;
}

input {
    outline: none;
    border: 1px solid black;
    padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
